graph_file/*
!graph_file/graph_11.g
!graph_file/graph_100.g
!graph_file/graph_10k.g
!graph_file/graph_1ml.g
!graph_file/graph_2ml.g
!graph_file/graph_5ml.g
!graph_file/graph_10ml.g

*.exe
*.exp
*.lib

main_v1
main_v1_1
main_v1_2
main_v2
main_v2_1
main_v2_2

orchestrator_linux
orchestrator_windows